body {
  margin: 0px;
  padding: 0;
}


h1 {
  color: blue
}

.article {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 32.57%;
  height: 40vh;
  margin: 1px;
  float: left;
}

.article .title {
  background-color: rgba(255, 102, 0, 0.805);
  color: white;
  cursor: pointer;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0% 3% 0% 3%;
  position: absolute;
  display: block;
  height: 20%;
  bottom: 0%;
  width: 94%;

  overflow-y: hidden;
  text-indent: 1em;
  transition: top .3s, height .3s;
  z-index: 100;
}

.title img {
  position: absolute;
  display: block;
  bottom: 0px;
}

.article .title:hover {
  height: inherit;
}

.hidden-title {
  opacity: 0;
}

.btn-wrapper {
  position: relative;
  display: block;
  top: 0%;
  height: 100%;
  width: 100%;
}

.title-wrapper {
  position: relative;
  width: 100%;
  height: 99%;
}

.like-btn {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: -5%;
  padding: 0;
  border: 0px;
}

.like-btn img {
  position: relative;
  width: 30%;
  height: 30%;
}

.like-btn img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .article {
    width: 49%;
  }
}

@media only screen and (max-width: 500px) {
  .article {
    width: 99%;
  }
}