<div ng-if="articles">
    <div class="articles" ng-repeat="article in articles">
        <div class="article" style="background-image: url({{article.images.mainImage.url}})">
                <div class="btn-wrapper">
                            <p class="title"><br>{{article.title}}
                   
                    </p>
            </div>
            <button class="like-btn" ng-Click="Like($event)">
                    <img src="assets/final-like.png" alt="like btn"/>
            </button>
        </div>
    </div>
    
</div>


